# Local IP address of the machine running the Expo development server

EXPO_PUBLIC_BASE_URL='your-local-ip-address'

# Production URL for the backend API (if different from the local development URL)
# EXPO_PUBLIC_BASE_URL='https://your-production-url.com'